.arquivo-escala{
    margin-left: 30px;    
}

.label-arquivo-escala{
    height: 36px;
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 20px;        
}

.btn-voltar{
    margin-top: 20px;
    width: 100px;
    align-items: right;
}

.titulo-escala{
    text-align: center;
    margin-top: 30px;
}

.scd-form-control{
    height: 26px;
    border: 1px solid;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    padding: 0px 20px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn.btn-mini {
    padding: 4px 8px !important;
}

.btn-mini [class*=" icon-"], .btn-mini [class^=icon-] {
    margin-top: -1px;
}
